<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 부트스트랩 기능을 위한 CDN 방식 연결 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- ---------------------------------- -->
    
    <style>
        .wrap, .wrap * {box-sizing: border-box;}
        
        .wrap{
            margin:auto;
            width:100%;
            max-width:1300px; 
            display:flex;
            flex-direction:column; 
        }

        .header{height:200px;}
        .main_content{
            min-height:600px;
            display: flex;        
        }

        .footer{height:200px;}

        .center{display:flex; justify-content: center; align-items: center;}

        .header{display:flex; flex-direction:column;}
        .header_logo { 
            height: 70%; 
            background-color: rgb(235, 231, 227); 
            display: flex;
            align-items: center;
        }
        .header_logo img {
            height: 100%;
            width: auto;
        }
        .header_nav {
            height: 30%; 
            display: flex; 
            background-color: rgb(191, 180, 176);
            justify-content: space-between;
            align-items: center;
        }
        .center_nav{ flex-grow: 1;}
        .right_nav{
            display: flex; 
            align-items: center;
        }
        
        .header_nav a{
            color: rgb(99, 76, 70);
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
        }
        
        .footer{
            display:flex;
            flex-direction:column;
            background-color: rgb(235, 231, 227);
        }
        .footer_link{height:20%; display:flex; align-items:center;}
        .footer_link a{text-decoration:none; color:black; font-weight:bold; margin:15px;}
        .footer_company{height:80%;}
        .footer_company>ul{list-style:"- "; padding-left:15px;}
        .footer>div{border-top:1px solid rgb(191, 180, 176)}
        .footer li {color: rgb(171, 158, 153);}

        /*왼쪽 메뉴바 */
        .sideMenubar{
            width: 300px;
            min-height: 600px;
            /* height: 100%; */
            background-color: rgb(235, 231, 227);
        }
        .sideMenubar a {
            color: black;
            text-decoration: none;
        }
        

        .page_content {

        width: 100%; 
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        /* border: 1px solid red; */

        }
        

        /* 메인컨텐츠  */
        #title1 {font-size: 30px; font-weight: bold;  color: rgb(115, 90, 75);}
        #title2 {font-size: 25px; font-weight: bold;  color: rgb(115, 90, 75);}
        #title3 {font-size: 20px; font-weight: bold; }
        .btnconfirm {background-color: #EBE7E3; font-size: 15px; border: 1px solid #D4D4D4 ; height: 40px; padding: 10px 20px; margin-right: 5px; }
        .btncollapse {background-color: white; font-size: 15px; border: none ; height: 40px; padding: 10px 20px; margin-right: 5px; }
        .btnname {background-color: #EBE7E3; font-size: 15px; border: 1px solid #D4D4D4 ; width: 85px; height: 40px; padding: 7px;  pointer-events : none;}
        .btnlarge {background-color: #EBE7E3; font-size: 15px; border: 1px solid #D4D4D4 ; width: 170px; height: 40px; padding: 7px;  pointer-events : none;}
        .btnbrown {background-color: #634C46; color: white; font-size: 15px; border: 1px solid #D4D4D4 ; width: 160px; height: 40px; padding: 7px; margin-left: 6px;}
        
        #td1 {width:94px ; }
         #td2 {width:600px ; }
         #td3 {width:220px ; display: flex; align-items: center;}
         #td4 {display: inline-block;}
         
         .hotel_content td {padding-bottom: 7px;}
         .form-controller input {width: 100%;}
         .add_content { 
            display: inline-block;
            width: 100%;
            min-height: 150px;
            padding: 20px;
            height: 100%;
            }
        .add_content>input{ margin-right: 10px;}
        .hotel_content { width: 80%;}
        .page_content label { margin-left: 10px; margin-right: 15px; }
        .sminput {width: 220px;}
        .room_list {
            height: 70px;
            margin-bottom: 11px;
            display: flex;
            justify-content: space-between;
            align-items: center;
                    }
        .rdetail { 
            margin-bottom: 11px;
            height: 760px;
            padding-top: 10px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>

</head>
<body>
    <div class="wrap">
        <!-- header start-->
        <header class="header">
            <a href="" class="header_logo center">
                    <img src="../../resources/images/mainLogo.png"  alt="메인로고이미지">
            </a>
            <nav class="header_nav">
                <div class="left_nav" >
                <a href="" style="margin-left: 15px;"><i class="bi bi-search"></i>호텔검색</a>
                </div>
                <div class="center_nav"></div>
              
                <!-- case1. 로그인 전 -->
                <!--
                <div class="right_nav">
                <a href="">로그인</a>
                <a href="">회원가입</a>
                </div>
                -->
                 <!-- case2. 로그인 후--> 
                 <div class="right_nav">
                    <b>GALGODA제주님</b>
                    <a href=""> <i class="bi bi-person-circle"></i></a>
                    
                </div>
                
            </nav>
        </header>
        <!-- header end-->


        <section class="main_content">
            
            <!-- 사이드 메뉴바 영역 -->
            <div class="sideMenubar">
                <ul class="nav flex-column">
                    <li >
                        <h3 style="margin-left: 10px; margin-right: 30px; margin-top: 10px; border-bottom: 1px solid black;">마이페이지</h3>
                    </li>
                    
                    <li>
                        <a class="nav-link " style="color: white; background-color: rgb(115, 90, 75);" href="" data-toggle="collapse" data-target="#demo">호텔관리</a>
                    </li>
                    <li > <div id="demo" class="collapse show" style="margin-left: 30px;"><a href="">호텔등록</a></div> </li> 
                    <li > <div id="demo" class="collapse show" style="margin-left: 30px;"><a href="">호텔 정보 수정</a></div> </li>  
                    <li > <div id="demo" class="collapse show" style="margin-left: 30px;"><a href="">객실등록</a></div> </li>  
                    <li style="background-color: #BFB4B0;"> <div id="demo" class="collapse show" style="margin-left: 30px;"><a href="">객실수정</a></div> </li>  
                    <li> <div id="demo" class="collapse show" style="margin-left: 30px;"><a href="">리뷰 관리</a></div> </li>   
                    
                    
                    <li>
                        <a class="nav-link" style="color: black;" href="#" data-toggle="collapse" data-target="#demo2">예약관리</a>
                    </li>
                    <li> <div id="demo2" class="collapse" style="margin-left: 30px;"><a href="">예약현황조회</a></div> </li>   
                    <li>
                        <a class="nav-link" style="color: black;" href="#" data-toggle="collapse" data-target="#demo3">담당자 정보 수정</a>
                    </li>
                        
                    
                    <li>
                         <a class="nav-link" style="color: black;" href="#" data-toggle="collapse" data-target="#demo4">고객센터</a>
                    </li>
                    <li> <div id="demo4" class="collapse" style="margin-left: 30px;"><a href="">공지사항</a></div> </li>   
                    <li> <div id="demo4" class="collapse" style="margin-left: 30px;"><a href="">문의사항</a></div> </li>   
                </ul>
            </div>

           
            <!-- 사이드 메뉴바 영역  끝-->

            <!-- 메인 부분 -->
            <div class="page_content" style="margin-bottom: 150px;">

                <span id="title1">호텔관리</span> <span id="title2"> - 객실수정</span>
                <div style="border : 1px solid lightgray; margin-bottom: 16px;"></div>
                
                <div class="hotel_content" style="padding-left: 20px;">
                <span id="title3">객실목록</span>
                    
                    <div class="form-control room_list">
                        객실 1 - 스탠다드룸  
                            <span class="float-right" >
                                <button class="btn btnconfirm " onclick="deleteRoom();"> 객실 삭제하기</button>
                                <button class="btn btncollapse " data-toggle="collapse" data-target="#room_detail"> 펼쳐 보기 <img src="../../resources/images/bottom.png" style="height: 25px;">  </button>
                            </span>
                    </div>
                    <div class="form-control collapse rdetail " id="room_detail">
                        <form>
                        
                            <table class="table2">
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button"  >객실명</button></td>
                                    <td id="td2"><input type="text" class="form-control" required  value="스탠다드룸"></td>
                                </tr>
                                </table>
                                <table>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >객실크기</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput"  value="20" required> m<sup>2</sup></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >투숙인원</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="2" required> 명</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >욕실 수</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" max="5" value="0" required></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >가격</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput" placeholder="숫자만 입력" value="250000" required> 원</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >최대수량</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="4" required> </td> 
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" style="vertical-align: top; display:inline-block" >추가옵션</button></td>
                                    <td id="td2" >
                                         <div  class="form-control add_content" >   
                                            <label><input type="checkbox" checked > &nbsp;조식</label>
                                            <label><input type="checkbox" checked> &nbsp;베드추가</label>
                                            <label><input type="checkbox" > &nbsp;레이트 체크인</label>
                                            <label><input type="checkbox" > &nbsp;스파패키지</label>
                                            <label><input type="checkbox"  > &nbsp;무료취소</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >대표사진</button></td>
                                    <td id="td2"><input type="file" name="main_photo" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" >사진추가</button></td>
                                    <td id="td2">
                                       
                                        <input type="file" name="upload_file1" class="form-control">
                                        <input type="file" name="upload_file2" class="form-control">
                                        <input type="file" name="upload_file3" class="form-control">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td  colspan="2" align="right"  id="td1">
                                        
                                        <button class="btn btnconfirm" type="submit" onclick="updateRoom();">수정하기</button>
                                    </td>
                                </tr>
                            </table>
    
                            
                        </form>


                    </div>

                    <div class="form-control room_list">
                        객실 2 - 더블룸  
                            <span class="float-right" >
                                <button class="btn btnconfirm " onclick="deleteRoom();"> 객실 삭제하기</button>
                                <button class="btn btncollapse " data-toggle="collapse" data-target="#room_detail2"> 펼쳐 보기 <img src="../../resources/bottom.png" style="height: 25px;">  </button>
                            </span>
                    </div>
                    <div class="form-control collapse rdetail " id="room_detail2">
                        <form>
                        
                            <table class="table2">
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button"  >객실명</button></td>
                                    <td id="td2"><input type="text" class="form-control" required  value="더블룸"></td>
                                </tr>
                                </table>
                                <table>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >객실크기</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput"  value="20" required> m<sup>2</sup></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >투숙인원</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="2" required> 명</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >욕실 수</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" max="5" value="0" required></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >가격</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput" placeholder="숫자만 입력" required> 원</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >최대수량</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="4" required> </td> 
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" style="vertical-align: top; display:inline-block" >추가옵션</button></td>
                                    <td id="td2" >
                                         <div  class="form-control add_content" >   
                                            <label><input type="checkbox"  > &nbsp;조식</label>
                                            <label><input type="checkbox" > &nbsp;베드추가</label>
                                            <label><input type="checkbox" > &nbsp;레이트 체크인</label>
                                            <label><input type="checkbox" > &nbsp;스파패키지</label>
                                            <label><input type="checkbox"  > &nbsp;무료취소</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >대표사진</button></td>
                                    <td id="td2"><input type="file" name="main_photo" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" >사진추가</button></td>
                                    <td id="td2">
                                       
                                        <input type="file" name="upload_file1" class="form-control">
                                        <input type="file" name="upload_file2" class="form-control">
                                        <input type="file" name="upload_file3" class="form-control">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td  colspan="2" align="right"  id="td1">
                                        
                                        <button class="btn btnconfirm" type="submit" onclick="updateRoom();">수정하기</button>
                                    </td>
                                </tr>
                            </table>
    
                            
                        </form>


                    </div>


                    <div class="form-control room_list">
                        객실 3 - 디럭스 트윈룸  
                            <span class="float-right" >
                                <button class="btn btnconfirm " onclick="deleteRoom();"> 객실 삭제하기</button>
                                <button class="btn btncollapse " data-toggle="collapse" data-target="#room_detail3"> 펼쳐 보기 <img src="../../resources/bottom.png" style="height: 25px;">  </button>
                            </span>
                    </div>
                    <div class="form-control collapse rdetail " id="room_detail3">
                        <form>
                        
                            <table class="table2">
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button"  >객실명</button></td>
                                    <td id="td2"><input type="text" class="form-control" required  value="디럭스 트윈룸"></td>
                                </tr>
                                </table>
                                <table>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >객실크기</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput"  value="20" required> m<sup>2</sup></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >투숙인원</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="2" required> 명</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >욕실 수</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" max="5" value="0" required></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >가격</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput" placeholder="숫자만 입력" required> 원</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >최대수량</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="4" required> </td> 
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" style="vertical-align: top; display:inline-block" >추가옵션</button></td>
                                    <td id="td2" >
                                         <div  class="form-control add_content" >   
                                            <label><input type="checkbox"  > &nbsp;조식</label>
                                            <label><input type="checkbox" > &nbsp;베드추가</label>
                                            <label><input type="checkbox" > &nbsp;레이트 체크인</label>
                                            <label><input type="checkbox" > &nbsp;스파패키지</label>
                                            <label><input type="checkbox"  > &nbsp;무료취소</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >대표사진</button></td>
                                    <td id="td2"><input type="file" name="main_photo" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" >사진추가</button></td>
                                    <td id="td2">
                                       
                                        <input type="file" name="upload_file1" class="form-control">
                                        <input type="file" name="upload_file2" class="form-control">
                                        <input type="file" name="upload_file3" class="form-control">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td  colspan="2" align="right"  id="td1">
                                        
                                        <button class="btn btnconfirm" type="submit" onclick="updateRoom();">수정하기</button>
                                    </td>
                                </tr>
                            </table>
    
                            
                        </form>


                    </div>

                    <div class="form-control room_list">
                        객실 4 - 패밀리룸  
                            <span class="float-right" >
                                <button class="btn btnconfirm " onclick="deleteRoom();"> 객실 삭제하기</button>
                                <button class="btn btncollapse " data-toggle="collapse" data-target="#room_detail4"> 펼쳐 보기 <img src="../../resources/bottom.png" style="height: 25px;">  </button>
                            </span>
                    </div>
                    <div class="form-control collapse rdetail " id="room_detail4">
                        <form>
                        
                            <table class="table2">
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button"  >객실명</button></td>
                                    <td id="td2"><input type="text" class="form-control" required  value="패밀리룸"></td>
                                </tr>
                                </table>
                                <table>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >객실크기</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput"  value="20" required> m<sup>2</sup></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >투숙인원</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="2" required> 명</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >욕실 수</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" max="5" value="0" required></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >가격</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput" placeholder="숫자만 입력" required> 원</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >최대수량</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="4" required> </td> 
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" style="vertical-align: top; display:inline-block" >추가옵션</button></td>
                                    <td id="td2" >
                                         <div  class="form-control add_content" >   
                                            <label><input type="checkbox"  > &nbsp;조식</label>
                                            <label><input type="checkbox" > &nbsp;베드추가</label>
                                            <label><input type="checkbox" > &nbsp;레이트 체크인</label>
                                            <label><input type="checkbox" > &nbsp;스파패키지</label>
                                            <label><input type="checkbox"  > &nbsp;무료취소</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >대표사진</button></td>
                                    <td id="td2"><input type="file" name="main_photo" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" >사진추가</button></td>
                                    <td id="td2">
                                       
                                        <input type="file" name="upload_file1" class="form-control">
                                        <input type="file" name="upload_file2" class="form-control">
                                        <input type="file" name="upload_file3" class="form-control">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td  colspan="2" align="right"  id="td1">
                                        
                                        <button class="btn btnconfirm" type="submit" onclick="updateRoom();">수정하기</button>
                                    </td>
                                </tr>
                            </table>
    
                            
                        </form>


                    </div>

                    <div class="form-control room_list">
                        객실 5 - 스위트룸
                            <span class="float-right" >
                                <button class="btn btnconfirm " onclick="deleteRoom();"> 객실 삭제하기</button>
                                <button class="btn btncollapse " data-toggle="collapse" data-target="#room_detail5"> 펼쳐 보기 <img src="../../resources/bottom.png" style="height: 25px;">  </button>
                            </span>
                    </div>
                    <div class="form-control collapse rdetail " id="room_detail5">
                        <form>
                        
                            <table class="table2">
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button"  >객실명</button></td>
                                    <td id="td2"><input type="text" class="form-control" required  value="스위트룸"></td>
                                </tr>
                                </table>
                                <table>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >객실크기</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput"  value="20" required> m<sup>2</sup></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >투숙인원</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="2" required> 명</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >욕실 수</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" max="5" value="0" required></td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >가격</button></td>
                                    <td id="td3"><input type="text" class="form-control sminput" placeholder="숫자만 입력" required> 원</td> 
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >최대수량</button></td>
                                    <td id="td3"><input type="number" class="form-control sminput"   min="0" value="4" required> </td> 
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" style="vertical-align: top; display:inline-block" >추가옵션</button></td>
                                    <td id="td2" >
                                         <div  class="form-control add_content" >   
                                            <label><input type="checkbox"  > &nbsp;조식</label>
                                            <label><input type="checkbox" > &nbsp;베드추가</label>
                                            <label><input type="checkbox" > &nbsp;레이트 체크인</label>
                                            <label><input type="checkbox" > &nbsp;스파패키지</label>
                                            <label><input type="checkbox"  > &nbsp;무료취소</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td id="td1"><button class="btn btnname  " type="button" >대표사진</button></td>
                                    <td id="td2"><input type="file" name="main_photo" class="form-control" required></td>
                                </tr>
                                <tr>
                                    <td id="td4"><button class="btn btnname  " type="button" >사진추가</button></td>
                                    <td id="td2">
                                       
                                        <input type="file" name="upload_file1" class="form-control">
                                        <input type="file" name="upload_file2" class="form-control">
                                        <input type="file" name="upload_file3" class="form-control">
                                   
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td  colspan="2" align="right"  id="td1">
                                        
                                        <button class="btn btnconfirm" type="submit" onclick="updateRoom();">수정하기</button>
                                    </td>
                                </tr>
                            </table>
    
                            
                        </form>


                    </div>


                    <script>
                        function updateRoom(){
                            if(confirm("객실을 수정하시겠습니까?")){
                                alert("객실이 수정되었습니다.");
                            }
                        }

                        function deleteRoom(){
                            if(confirm("객실을 삭제하시겠습니까?")){
                                alert("객실이 삭제되었습니다.");
                            }
                        }


                    </script>
                </div>
            </div>
        
            <!-- 메인 부분  끝 -->


        

        </section>

         <!-- Footer start -->
         <footer class="footer">
            <div class="footer_link">
                <a href="">GALGODA 소개</a> 
                <a href="">공지사항</a> 
                <a href="">개인정보처리방침</a> 
                <a href="">이용약관</a> 
                <a href="">고객센터</a>
            </div>
            <div class="footer_company">
                <ul>
                    <li>상호명 : GALGODA(주)</li>
                    <li>대표자 : 어디갈때여기조</li>
                    <li>사업자등록번호 123-45-67890</li>
                    <li>전화 : 02-1234-5678 / FAX 02-1234-5678</li>
                    <li>(08505) 서울특별시 금천구 가산디지털2로 95
                        (가산동, km타워) 2층, 3층</li>
                    <li>Copyright ⓒ GooDee Academy. All rights reserved.</li>
                </ul>
            </div>
            
        </footer>
        <!-- Footer end -->
    </div>   
</body>
</html>