<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="loginCustomer">
		SELECT
				USER_NO
			  ,	USER_ID
			  ,	USER_NAME
			  ,	USER_ENG_NAME
			  ,	USER_PWD
			  ,	BIRTH_DATE
			  ,	EMAIL
			  ,	PHONE
			  , ZIPCODE
			  ,	ADDRESS
			  ,	ADDRESS_DETAIL
			  , ETC
			  ,	REGIST_DATE
			  ,	MODIFY_DATE
			  ,	STATUS
		   FROM TB_USER
		  WHERE USER_ID = ?
		    AND USER_PWD = ?
			AND STATUS = 'Y'
	</entry>
	
	<entry key="loginHotel">
		SELECT
				MEM_NO
			  ,	MEM_ID
			  ,	MEM_PWD
			  ,	MEM_NAME
			  ,	MEM_PHONE
			  ,	MEM_EMAIL
			  ,	REGIST_DATE
			  ,	MODIFY_DATE
			  ,	STATUS
			  ,	AUTHENTICODE
			  ,	HOTEL_NAME
			  FROM TB_MEM
			 WHERE MEM_ID = ?
			   AND MEM_PWD = ?
			   AND STATUS = 'Y'
	
	</entry>
	
	<entry key="loginAdmin">
		SELECT
				ADMIN_NO
			  ,	ADMIN_ID
			  ,	ADMIN_PWD
			  ,	ADMIN_NAME
			  ,	PHONE
			  ,	EMAIL
			  ,	STATUS
			  FROM TB_ADMIN
			 WHERE ADMIN_ID = ?
			   AND ADMIN_PWD = ?
			   AND STATUS = 'Y'
	</entry>
	
	<entry key="insertCustomer">
	
		INSERT
		  INTO TB_USER
		  (
		  	USER_NO
		  ,	USER_ID
		  ,	USER_NAME
		  ,	USER_ENG_NAME
		  ,	USER_PWD
		  ,	BIRTH_DATE
		  ,	EMAIL
		  ,	PHONE
		  ,	ZIPCODE
		  ,	ADDRESS
		  ,	ADDRESS_DETAIL
		  ,	ETC
		  )
		  VALUES
		  (
		  	SEQ_USERNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  )
	
	</entry>
	
	<entry key="isEmailDuplicate">
		SELECT 
				COUNT(*)
		  FROM TB_USER
		 WHERE EMAIL = ?
	</entry>
	
	<entry key="isUserIdDuplicate">
		SELECT 
				COUNT(*)
		  FROM TB_USER
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="isCodeAccord">
		SELECT
				COUNT(*)
		  FROM  TB_MEM
		 WHERE  HOTEL_NAME = ?
		   AND  AUTHENTICODE = ?
	</entry>
	
	<entry key="updateHotelUser">
		UPDATE
			  	TB_MEM
		   SET
				MEM_ID = ?
			  ,	MEM_PWD = ?
			  ,	MEM_NAME = ? 
			  ,	MEM_PHONE = ?
			  ,	MEM_EMAIL = ?
		 WHERE  HOTEL_NAME = ?
		   AND  AUTHENTICODE = ?
			 
	</entry>
	
	<entry key="findUserId">
		SELECT 
		        USER_ID
		  FROM  TB_USER
		 WHERE  USER_NAME = ?
		   AND  PHONE = ?
	</entry>
	
	<entry key="resetCustomerPwd">
		UPDATE
				TB_USER
		   SET
		   		USER_PWD = ?
		 WHERE  USER_ID = ?
	</entry>
	
	<entry key="resetHotelUserPwd">
		UPDATE
				TB_MEM
		   SET
		   		MEM_PWD = ?
		 WHERE  MEM_ID = ?
	</entry>
	
	<entry key="resetAdminPwd">
		UPDATE
				TB_ADMIN
		   SET
		   		ADMIN_PWD = ?
		 WHERE  ADMIN_ID = ?
	</entry>
	
	<entry key="confirmCustomer">
		SELECT
		        COUNT(*)
		  FROM  TB_USER
		 WHERE  USER_ID = ?
		   AND  PHONE = ?
	</entry>
	
	<entry key="confirmHotel">
		SELECT
		        COUNT(*)
		  FROM  TB_MEM
		 WHERE  MEM_ID = ?
		   AND  MEM_PHONE = ?
	</entry>
	
	<entry key="confirmAdmin">
		SELECT
		        COUNT(*)
		  FROM  TB_ADMIN
		 WHERE  ADMIN_ID = ?
		   AND  PHONE = ?
	</entry>
	
	<entry key="selectPopularHotelList">
		SELECT 
		        HOTEL_NAME
		        , HOTEL_NO
		        , COUNT(*) RES_COUNT
		        , IMG_PATH
		  FROM  TB_RES_INFO
		  JOIN  TB_HOTEL USING (HOTEL_NO)
		  GROUP BY HOTEL_NAME, HOTEL_NO, IMG_PATH
		  ORDER BY RES_COUNT DESC
	</entry>
	
</properties>