<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectReservation">
		SELECT
				re.RES_NO
			  ,	h.HOTEL_NO
			  , HOTEL_NAME
			  ,	USER_NO
			  ,	R.RO_NO
			  ,	DATE_IN
			  ,	DATE_OUT
			  ,	RES_DATE
			  ,	RES_STATUS
			  ,	REQ
			  ,	REASON_CANCEL
			  ,	PAY_METHOD
			  ,	PAY
			  ,	PAY_DATE
			  ,	RES_PEOPLE
			  , RES_ROOM_COUNT
			  ,	RES_NAME
			  ,	RES_PHONE
			  ,	RES_EMAIL
			  , H.IMG_PATH
              , RO_NAME
              , RO_PRICE
              , OP_NAME
			  FROM TB_RES_INFO RE
			  JOIN TB_HOTEL H ON (RE.HOTEL_NO = H.HOTEL_NO)
              JOIN TB_ROOM R ON (RE.RO_NO = R.RO_NO)
            WHERE USER_NO = ?
            ORDER BY DATE_IN ASC
	</entry>
	
	<entry key="selectReservationList">
		SELECT *
			FROM (
			SELECT ROWNUM RNUM, A.*
				FROM (
						SELECT
						re.RES_NO
					  ,	h.HOTEL_NO
					  , HOTEL_NAME
					  ,	USER_NO
					  ,	R.RO_NO
					  ,	DATE_IN
					  ,	DATE_OUT
					  ,	RES_DATE
					  ,	RES_STATUS
					  ,	REQ
					  ,	REASON_CANCEL
					  ,	PAY_METHOD
					  ,	PAY
					  ,	PAY_DATE
					  ,	RES_PEOPLE
					  , RES_ROOM_COUNT
					  ,	RES_NAME
					  ,	RES_PHONE
					  ,	RES_EMAIL
					  , H.IMG_PATH
		              , RO_NAME
		              , RO_PRICE
		              , OP_NAME
					  FROM TB_RES_INFO RE
					  JOIN TB_HOTEL H ON (RE.HOTEL_NO = H.HOTEL_NO)
		              JOIN TB_ROOM R ON (RE.RO_NO = R.RO_NO)
		            WHERE USER_NO = ?
		            ORDER BY DATE_IN ASC
					) A
		)
		WHERE RNUM BETWEEN ? AND ?
	
	</entry>
	
	<entry key="selectReservationCase">
		SELECT
				RES_NO
			  ,	HOTEL_NO
			  , HOTEL_NAME
			  ,	USER_NO
			  ,	R.RO_NO
			  ,	DATE_IN
			  ,	DATE_OUT
			  ,	RES_DATE
			  ,	RES_STATUS
			  ,	REQ
			  ,	REASON_CANCEL
			  ,	PAY_METHOD
			  ,	PAY
			  ,	PAY_DATE
			  ,	RES_PEOPLE
			  , RES_ROOM_COUNT
			  ,	RES_NAME
			  ,	RES_PHONE
			  ,	RES_EMAIL
			  , H.IMG_PATH
              , RO_NAME
              , OP_NAME
			  FROM TB_RES_INFO RI
			  JOIN TB_HOTEL H USING (HOTEL_NO)
              JOIN TB_ROOM R USING (HOTEL_NO)
            WHERE RES_NO = ?
	</entry>
	
	<entry key="selectWishlist">
		SELECT 
			    WISH_NO
			  , USER_NO
			  , HOTEL_NO
			  , HOTEL_NAME
			  , REG_DATE
			  , IMG_PATH
			   FROM TB_WISH
			   JOIN TB_HOTEL USING (HOTEL_NO)
			   WHERE USER_NO = ?
			   ORDER BY WISH_NO ASC
	</entry>
	
	<entry key="selectCustomer">
		SELECT
			 	USER_NO
			  ,	USER_ID
			  ,	USER_NAME
			  ,	USER_ENG_NAME
			  ,	USER_PWD
			  ,	BIRTH_DATE
			  ,	EMAIL
			  ,	PHONE
			  , ZIPCODE
			  ,	ADDRESS
			  ,	ADDRESS_DETAIL
			  , ETC
			  ,	REGIST_DATE
			  ,	MODIFY_DATE
			  ,	STATUS
		  FROM TB_USER
		 WHERE USER_ID = ?
		   AND STATUS = 'Y'
	
	</entry>
	
	<entry key="updatePersonalInfo">
		UPDATE
				TB_USER
		   SET  USER_NAME = ?
		      , USER_PWD = ?
		      , PHONE = ?
		      , EMAIL = ?
		      , ZIPCODE = ?
		      , ADDRESS = ?
		      , ADDRESS_DETAIL = ?
		      , ETC = ?
		  WHERE USER_ID = ?
	</entry>
	
	<entry key="deleteCustomer">
		UPDATE
				TB_USER
		   SET  STATUS = 'N'
		  	  , MODIFY_DATE = SYSDATE
		 WHERE  USER_ID = ?
	</entry>
	
	<entry key="updateReservation">
		UPDATE
				TB_RES_INFO
		    SET 
		        DATE_IN = ?
		      , DATE_OUT = ?
		      , RES_PEOPLE = ?
		      , RES_ROOM_COUNT = ?
		      , RO_NO = ?
		      , OP_NAME = ?
		      , RES_NAME = ?
		      , RES_PHONE = ?
		      , RES_EMAIL = ?
		      , PAY = ?
		      , PAY_METHOD = ?
		      , RES_STATUS = '예약대기'
		  WHERE RES_NO = ? 
	</entry>
	
	<entry key="cancelReservation">
		UPDATE
				TB_RES_INFO
		   SET
		   		RES_STATUS = '예약취소'
		 WHERE  RES_NO = ?
	</entry>
	
	<entry key="deleteWishlist">
		DELETE 
				FROM TB_WISH
		  WHERE WISH_NO = ?
	</entry>
	
	<entry key="countRes">
		SELECT
        		COUNT(*)
          FROM TB_RES_INFO
    	 WHERE USER_NO = ?
	</entry>
	
	<entry key="countWish">
		SELECT
        		COUNT(*)
          FROM TB_WISH
    	 WHERE USER_NO = ?
	</entry>
	
	<entry key="countReview">
		SELECT
        		COUNT(*)
          FROM TB_REVIEW
    	 WHERE USER_NO = ?
	</entry>
	<entry key="selectReviewList">
	SELECT
		REV_NO
      , TB_RES_INFO.RES_NO
      , TB_HOTEL.HOTEL_NO
      , REV_TITLE
      , DATE_IN
      , DATE_OUT
      , RES_PEOPLE
      , IMG_PATH
      , HOTEL_NAME
      
      
 	FROM TB_RES_INFO
    JOIN TB_HOTEL ON TB_HOTEL.HOTEL_NO = TB_RES_INFO.HOTEL_NO
    LEFT JOIN TB_REVIEW ON TB_RES_INFO.RES_NO = TB_REVIEW.RES_NO
    WHERE TB_RES_INFO.USER_NO = ?
    ORDER
       BY REV_NO DESC
	</entry>
		
		  
	<entry key="insertReview">
		INSERT
		  INTO TB_REVIEW
		  (  
		  	REV_NO
		  , RES_NO
		  , REV_TITLE
		  , REV_CONTENT
		  , REV_RATING
		  , HOTEL_NO
		  , USER_NO
		  )
		  VALUES
		  (
		  	SEQ_REVNO.NEXTVAL
		  	, ? 
		  	, ? 
		  	, ? 
		  	, ? 
		  	, ? 
		  	, ?
		  
		  )
	</entry>

	<entry key="deleteReview">
		DELETE
				FROM TB_REVIEW
		WHERE REV_NO = ?
	</entry>

	<entry key="selectRev">
		SELECT
			    REV_NO
		      , TB_REVIEW.RES_NO
		      , TB_REVIEW.HOTEL_NO
		      , REV_TITLE
		      , REV_CONTENT
		      , REV_RATING
		      , DATE_IN
		      , DATE_OUT
		      , RES_PEOPLE
		      , IMG_PATH
		      , HOTEL_NAME
		   FROM TB_REVIEW
		   JOIN TB_HOTEL ON TB_HOTEL.HOTEL_NO = TB_REVIEW.HOTEL_NO
		  LEFT JOIN TB_RES_INFO ON TB_RES_INFO.RES_NO = TB_REVIEW.RES_NO
		  WHERE REV_NO = ?
		  	AND TB_REVIEW.STATUS = 'Y'
			  
				
		
	</entry>
	
	<entry key="updateReview">
		 UPDATE
			    TB_REVIEW
			SET REV_TITLE = ?
			  , REV_CONTENT = ?
			  , REV_RATING = ?
		  WHERE REV_NO = ?	  
				
	</entry>
	
	<entry key="findRoomPrice">
		SELECT
				RO_PRICE
		  FROM  TB_ROOM
		 WHERE  HOTEL_NO = ?
		   AND  RO_NO = ?
	</entry>
	
	
	
</properties>