<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectNoticeList">
		SELECT *
		  FROM(
		       SELECT ROWNUM RNUM, A.* 
		       FROM(
		            SELECT 
		                   NOTICE_NO
		                 , NOTICE_TITLE
		                 , NOTICE_CONTENT
		                 , TO_CHAR(REGIST_DATE, 'YYYY/MM/DD') REGIST_DATE
		              FROM TB_NOTICE
		             WHERE STATUS = 'Y'
		             ORDER 
		                BY 1 DESC
		      ) A
		 )     
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_NOTICE
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectNotice">
		SELECT 
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , TO_CHAR(REGIST_DATE, 'YYYY-MM-DD') REGIST_DATE
		     , MEM_NO
		     , ADMIN_NO
		  FROM TB_NOTICE
		 WHERE NOTICE_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="insertHotelNotice">
		INSERT
		  INTO TB_NOTICE
		  (
		  	NOTICE_NO
		  , NOTICE_TITLE
		  , NOTICE_CONTENT
		  , MEM_NO
		  , MODIFY_DATE
		  )
		  VALUES
		  (
		  	SEQ_NOTICENO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , NULL
		  )
	</entry>
	
	<entry key="insertAdminNotice">
		INSERT
		  INTO TB_NOTICE
		  (
		  	NOTICE_NO
		  , NOTICE_TITLE
		  , NOTICE_CONTENT
		  , ADMIN_NO
		  , MODIFY_DATE
		  )
		  VALUES
		  (
		  	SEQ_NOTICENO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , NULL
		  )
	</entry>
	
	<entry key="updateNotice">
		UPDATE
		       TB_NOTICE
		   SET NOTICE_TITLE = ?
		     , NOTICE_CONTENT = ?
		 WHERE NOTICE_NO = ?
	</entry>
	
	<entry key="deleteNotice">
		UPDATE
		       TB_NOTICE
		   SET STATUS = 'N'
		 WHERE NOTICE_NO = ?
	</entry>
	
	<entry key="selectHotelName">
		SELECT
		       HOTEL_NAME
		  FROM TB_HOTEL
	</entry>
	
	<entry key="insertInq">
		INSERT
		  INTO TB_INQ
		  (
		  	INQ_NO
		  , INQ_TITLE
		  , INQ_CONTENT
		  , INQ_WRITER
		  , WRITER_PHONE
		  , WRITER_EMAIL
		  , HOTEL_NAME
		  , INQ_TYPE
		  , STATUS
		  )
		  VALUES
		  (
		  	SEQ_INQNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , 'W'
		  )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO TB_FILE
		  (
		  	FILE_NO
		  , FILE_PATH
		  , STATUS
		  , REF_NO
		  , REF_TYPE
		  , FILE_NAME
		  )
		  VALUES
		  (
		  	SEQ_FILENO.NEXTVAL
		  , ?
		  , 'Y'
		  , SEQ_INQNO.CURRVAL
		  , 'I'
		  , ?
		  )
	</entry>
	
	<entry key="selectInqList">
		SELECT
		       INQ_NO
		     , HOTEL_NAME
		     , INQ_TYPE
		     , INQ_TITLE
		     , TO_CHAR(REGIST_DATE, 'YYYY-MM-DD') REGIST_DATE
		     , STATUS
		  FROM TB_INQ
		 WHERE STATUS != 'N'
		 ORDER
		    BY 1 DESC
	</entry>
	
	<entry key="selectInq">
		SELECT
		       INQ_NO
		     , HOTEL_NAME
		     , INQ_TYPE
		     , INQ_WRITER
		     , INQ_TITLE
		     , INQ_CONTENT
		     , ANS_CONTENT
		  FROM TB_INQ
		 WHERE STATUS != 'N'
		   AND INQ_NO = ?
	</entry>
	
	<entry key="updateInq">
		UPDATE TB_INQ
		   SET ANS_CONTENT = ?
		     , STATUS = 'Y'
		 WHERE INQ_NO = ?
	</entry>
</properties>