<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectNoticeList">
		SELECT *
		  FROM(
		       SELECT ROWNUM RNUM, A.* 
		       FROM(
		            SELECT 
		                   NOTICE_NO
		                 , NOTICE_TITLE
		                 , NOTICE_CONTENT
		                 , TO_CHAR(REGIST_DATE, 'YYYY/MM/DD') REGIST_DATE
		              FROM TB_NOTICE
		             WHERE STATUS = 'Y'
		             ORDER 
		                BY 1 DESC
		      ) A
		 )     
		WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	
	<entry key="selectNoticeListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_NOTICE
		 WHERE STATUS = 'Y'
	</entry>
	
	<entry key="selectInqListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_INQ
		 WHERE STATUS != 'N'
	</entry>
	
	<entry key="selectInqHotelListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_INQ
		 WHERE STATUS != 'N'
		   AND HOTEL_NAME = ?
	</entry>
	
	<entry key="selectReportUserListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_REPORT
		 WHERE REP_TYPE = 'U'
	</entry>
	
	<entry key="selectReportReviewListCount">
		SELECT
		       COUNT(*) COUNT
		  FROM TB_REPORT
		 WHERE REP_TYPE = 'R'
	</entry>
	
	<entry key="selectNotice">
		SELECT 
		       NOTICE_NO
		     , NOTICE_TITLE
		     , NOTICE_CONTENT
		     , TO_CHAR(REGIST_DATE, 'YYYY-MM-DD') REGIST_DATE
		     , MEM_NO
		     , ADMIN_NO
		  FROM TB_NOTICE
		 WHERE NOTICE_NO = ?
		   AND STATUS = 'Y'
	</entry>
	
	<entry key="insertHotelNotice">
		INSERT
		  INTO TB_NOTICE
		  (
		  	NOTICE_NO
		  , NOTICE_TITLE
		  , NOTICE_CONTENT
		  , MEM_NO
		  , MODIFY_DATE
		  )
		  VALUES
		  (
		  	SEQ_NOTICENO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , NULL
		  )
	</entry>
	
	<entry key="insertAdminNotice">
		INSERT
		  INTO TB_NOTICE
		  (
		  	NOTICE_NO
		  , NOTICE_TITLE
		  , NOTICE_CONTENT
		  , ADMIN_NO
		  , MODIFY_DATE
		  )
		  VALUES
		  (
		  	SEQ_NOTICENO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , NULL
		  )
	</entry>
	
	<entry key="updateNotice">
		UPDATE
		       TB_NOTICE
		   SET NOTICE_TITLE = ?
		     , NOTICE_CONTENT = ?
		 WHERE NOTICE_NO = ?
	</entry>
	
	<entry key="deleteNotice">
		UPDATE
		       TB_NOTICE
		   SET STATUS = 'N'
		 WHERE NOTICE_NO = ?
	</entry>
	
	<entry key="selectHotelName">
		SELECT
		       HOTEL_NAME
		  FROM TB_HOTEL
	</entry>
	
	<entry key="insertInq">
		INSERT
		  INTO TB_INQ
		  (
		  	INQ_NO
		  , INQ_TITLE
		  , INQ_CONTENT
		  , INQ_WRITER
		  , WRITER_PHONE
		  , WRITER_EMAIL
		  , HOTEL_NAME
		  , INQ_TYPE
		  , STATUS
		  )
		  VALUES
		  (
		  	SEQ_INQNO.NEXTVAL
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , ?
		  , 'W'
		  )
	</entry>
	
	<entry key="insertAttachment">
		INSERT
		  INTO TB_FILE
		  (
		  	FILE_NO
		  , FILE_PATH
		  , STATUS
		  , REF_NO
		  , REF_TYPE
		  , FILE_NAME
		  )
		  VALUES
		  (
		  	SEQ_FILENO.NEXTVAL
		  , ?
		  , 'Y'
		  , SEQ_INQNO.CURRVAL
		  , 'I'
		  , ?
		  )
	</entry>
	
	<entry key="selectInqUserList">
		SELECT *
		  FROM(
		       SELECT ROWNUM RNUM, A.* 
		       FROM(
		            SELECT 
		                   INQ_NO
		                 , HOTEL_NAME
		                 , INQ_TYPE
		                 , INQ_TITLE
		                 , TO_CHAR(REGIST_DATE, 'YYYY/MM/DD') REGIST_DATE
                         , STATUS
		              FROM TB_INQ
		             WHERE STATUS != 'N'
		             ORDER 
		                BY 1 DESC
		      ) A
		 )     
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectInqHotelList">
		SELECT *
		  FROM(
		       SELECT ROWNUM RNUM, A.* 
		       FROM(
		            SELECT 
		                   INQ_NO
		                 , HOTEL_NAME
		                 , INQ_TYPE
		                 , INQ_TITLE
		                 , TO_CHAR(REGIST_DATE, 'YYYY/MM/DD') REGIST_DATE
                         , STATUS
		              FROM TB_INQ
		             WHERE STATUS != 'N'
		               AND HOTEL_NAME = ?
		             ORDER 
		                BY 1 DESC
		      ) A
		 )     
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectInqAdminList">
		SELECT 
               INQ_NO
             , HOTEL_NAME
             , INQ_TYPE
             , INQ_TITLE
             , TO_CHAR(REGIST_DATE, 'YYYY/MM/DD') REGIST_DATE
             , STATUS
          FROM TB_INQ
         WHERE STATUS != 'N'
           AND HOTEL_NAME = ?
         ORDER 
            BY 1 DESC
	</entry>
	
	<entry key="selectInqList">
		SELECT
		       INQ_NO
		     , HOTEL_NAME
		     , INQ_TYPE
		     , INQ_TITLE
		  	 , TO_CHAR(REGIST_DATE, 'YYYY/MM/DD') REGIST_DATE
             , STATUS
          FROM TB_INQ
         WHERE STATUS != 'N'
         ORDER 
            BY 1 DESC
	</entry>
	
	<entry key="selectInq">
		SELECT
		       INQ_NO
		     , HOTEL_NAME
		     , INQ_TYPE
		     , INQ_WRITER
		     , INQ_TITLE
		     , INQ_CONTENT
		     , ANS_CONTENT
		  FROM TB_INQ
		 WHERE STATUS != 'N'
		   AND INQ_NO = ?
	</entry>
	
	<entry key="selectInqAttachment">
		SELECT
			   FILE_NO
			 , FILE_PATH
			 , FILE_NAME
	      FROM TB_FILE
	     WHERE STATUS = 'Y'
	       AND REF_TYPE = 'I'
	       AND REF_NO = ?
	</entry>
	
	<entry key="updateInq">
		UPDATE TB_INQ
		   SET ANS_CONTENT = ?
		     , STATUS = 'Y'
		 WHERE INQ_NO = ?
	</entry>
	
	<entry key="deleteInq">
		UPDATE TB_INQ
		   SET STATUS = 'N'
		 WHERE INQ_NO = ?
	</entry>
	
	<entry key="selectReportUserList">
		SELECT *
		  FROM(
		       SELECT ROWNUM RNUM, A.* 
		       FROM(
		            SELECT
                           REP_NO
                         , USER_ID
                         , REP_REASON
                         , REP_DATE
                         , R.STATUS
                      FROM TB_REPORT R
                      JOIN TB_USER ON (REP_REF_NO = USER_NO)
                     WHERE REP_TYPE = 'U'
                       AND R.STATUS != 'C' 
                     ORDER
                        BY 1 DESC
                          ) A
		 )     
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectReportReviewList">
		SELECT *
		  FROM(
		       SELECT ROWNUM RNUM, A.* 
		       FROM(
		            SELECT
                           REP_NO
                         , USER_ID
                         , REV_TITLE
                         , REP_DATE
                         , R.STATUS
                      FROM TB_REPORT R
                      JOIN TB_REVIEW ON (REP_REF_NO = REV_NO)
                      JOIN TB_USER USING (USER_NO)
                     WHERE REP_TYPE = 'R'
                       AND R.STATUS != 'C'
                     ORDER
                        BY 1 DESC
                    ) A
		 )     
		 WHERE RNUM BETWEEN ? AND ?
	</entry>
	
	<entry key="selectReportUser">
		SELECT
		       REP_NO
		     , USER_ID
		     , RES_NO
		     , REP_REASON
		     , REP_CONTENT
		     , REP_TYPE
		  FROM TB_REPORT
		  JOIN TB_USER ON (REP_REF_NO = USER_NO)
		 WHERE REP_NO = ?
	</entry>
	
	<entry key="selectReportReview">
		SELECT
		       REP_NO
		     , REV_NO
		     , USER_ID
		     , R.RES_NO
		     , V.REGIST_DATE
		     , REV_RATING
		     , REV_TITLE
		     , REV_CONTENT
		     , R.FILE_NO
		     , REP_TYPE
		  FROM TB_REPORT R
		  JOIN TB_REVIEW V ON (REP_REF_NO = REV_NO)
		  JOIN TB_USER USING (USER_NO)
		 WHERE REP_NO = ?
	</entry>
	
	<entry key="deleteReportReview">
		UPDATE TB_REPORT
		   SET STATUS = 'Y'
		 WHERE REP_REF_NO = ?
		   AND REP_TYPE = 'R'
	</entry>
	
	<entry key="deleteReview">
		UPDATE TB_REVIEW
			   SET STATUS = 'N'
			 WHERE REV_NO = ?
	</entry>
	
	<entry key="deleteReportUser">
		UPDATE TB_REPORT
		   SET STATUS = 'Y'
		 WHERE REP_REF_NO = (
		 						SELECT USER_NO
		 						  FROM TB_USER
		 						 WHERE USER_ID = ?
		 					)
		   AND REP_TYPE = 'U'
	</entry>
	
	<entry key="deleteUser">
		UPDATE TB_USER
		   SET STATUS = 'N'
		 WHERE USER_ID = ?
	</entry>
	
	<entry key="cancelReport">
		UPDATE TB_REPORT
		   SET STATUS = 'C'
		 WHERE REP_NO = ?
	</entry>
	
</properties>