<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

		<entry key="hotelinsertForm">
		
			SELECT 
					TAG_NO
				  , TAG_NAME
			  FROM TB_TAG
			 WHERE STATUS = 'Y'
		
		</entry>
		
		<entry key="roominsertForm">
		
			SELECT 
					OP_NO
				  , OP_NAME
			  FROM TB_OPTION
			 WHERE STATUS = 'Y'
		
		</entry>
		
		<entry key="selectHotelNo">
			SELECT HOTEL_NO
			  FROM TB_HOTEL
			 WHERE HOTEL_NAME = ?
		
		</entry>

		<entry key="insertHotel">
			INSERT
				INTO TB_HOTEL
				VALUES
				(
					SEQ_HOTELNO.NEXTVAL
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , 'Y'
				  , ?
				  , ?
				  , ?
				)
				
		</entry>
		
		<entry key="insertRoom">
			INSERT
				INTO TB_Room
				( 
					RO_NO
				  , HOTEL_NO
				  , RO_NAME
				  , RO_SIZE
				  , RO_PEOPLE
				  , RO_BATHROOM
				  , RO_PRICE
				  , RO_COUNT
				  , OP_NO
				  , REGIST_DATE
				  , STATUS
				  , IMG_PATH
				)
				VALUES
				(
					SEQ_ROOMNO.NEXTVAL
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , ?
				  , SYSDATE
				  , 'Y'
				  , ?
				)
				
		</entry>
		
		<entry key="insertHoAttachment">
			INSERT
				INTO TB_FILE
				VALUES
				(
					SEQ_FILENO.NEXTVAL
				  , ?
				  , 'Y'
				  , SEQ_HOTELNO.CURRVAL
				  , 'H'
				  , ?
				  , ?
				)


		</entry>
		
		<entry key="insertRoAttachment">
			INSERT
				INTO TB_FILE
				VALUES
				(
					SEQ_FILENO.NEXTVAL
				  , ?
				  , 'Y'
				  , SEQ_ROOMNO.CURRVAL
				  , 'R'
				  , ?
				  , ?
				)


		</entry>
		
		<entry key="selectListCount">
		
			SELECT COUNT(*) COUNT 
  			FROM TB_RES_INFO
 			
		</entry>
		
		<entry key="selectRevListCount">
		
			SELECT COUNT(*) COUNT 
  			  FROM TB_REVIEW
  			 WHERE HOTEL_NO = (
  			 					SELECT HOTEL_NO
  			 					  FROM TB_HOTEL
  			 					 WHERE HOTEL_NAME = ?
  			 				  )
 			
		</entry>
		
		<entry key="selectList">
			SELECT *
				FROM (
		            SELECT ROWNUM RNUM, A.*
		              FROM(
		                        SELECT
		                                RES_NO
		                              , HOTEL_NO 
		                              , USER_NO
		                              , RO_NO 
		                              , DATE_IN
		                              , DATE_OUT
		                              , RES_DATE
		                              , SUBSTR(RES_STATUS,3,2) RES_STATUS
		                              , REQ
		                              , REASON_CANCEL
		                              , PAY_METHOD
		                              , PAY
		                              , PAY_DATE
		                              , RES_PEOPLE
		                              , RES_NAME
		                              , RES_PHONE
		                              , RES_EMAIL
		                          FROM TB_RES_INFO B
		                         WHERE HOTEL_NO = ( SELECT H.HOTEL_NO
                                                    FROM TB_HOTEL H, TB_MEM M
                                                    WHERE H.HOTEL_NAME = M.HOTEL_NAME
                                                    AND H.HOTEL_NAME = ?
                                                        )
		                         ORDER
		                            BY DATE_IN DESC 
		                ) A
				 )
		 		WHERE RNUM BETWEEN ? AND ?
		</entry>
		
		
		<entry key="selectRevList">
			 SELECT *
				FROM (
		            SELECT ROWNUM RNUM, A.*
		              FROM(
		                        SELECT
		                                REV_NO
		                              , USER_ID
		                              , RES_NO
		                              , R.REGIST_DATE REGIST_DATE
		                              , REV_RATING
		                              , REV_TITLE
		                          FROM  TB_REVIEW R
                                  JOIN TB_USER USING(USER_NO)
		                         WHERE HOTEL_NO = ( SELECT H.HOTEL_NO
                                                    FROM TB_HOTEL H, TB_MEM M
                                                    WHERE H.HOTEL_NAME = M.HOTEL_NAME
                                                    AND H.HOTEL_NAME = ?
                                                        )
                                   AND R.STATUS = 'Y'
		                         ORDER
		                            BY REV_NO DESC 
		                ) A
				 )
		 		WHERE RNUM BETWEEN ? AND ?
		</entry>
		

		<entry key="selectReservation">
			 					SELECT
										RES_NO
									  ,	HOTEL_NO
									  , HOTEL_NAME
									  ,	USER_NO
									  ,	R.RO_NO RO_NO
									  ,	DATE_IN
									  ,	DATE_OUT
									  ,	RES_STATUS
									  ,	REQ
									  ,	REASON_CANCEL
									  ,	PAY_METHOD
									  ,	PAY
									  ,	PAY_DATE
									  ,	RES_PEOPLE
									  ,	RES_NAME
									  ,	RES_PHONE
									  ,	RES_EMAIL
						              , RO_NAME
						              , NVL(OP_NAME,'없음') OP_NAME
						              , USER_ID
									  FROM TB_RES_INFO RI
									  JOIN TB_HOTEL H USING (HOTEL_NO)
						              JOIN TB_ROOM R USING (HOTEL_NO)
						              JOIN TB_USER U USING (USER_NO)
						            WHERE RES_NO = ?
						           
		</entry>
		
		
		
		<entry key="selectReview">
			 					SELECT
										REV_NO
									  ,	RES_NO
									  ,	USER_NO
									  ,	REV_RATING
									  ,	REV_TITLE
									  ,	REV_CONTENT
									  , R.REGIST_DATE REGIST_DATE
									  , USER_ID
									  FROM TB_REVIEW R
									  JOIN TB_USER U USING (USER_NO)
						            WHERE REV_NO = ?
						           
		</entry>

		<entry key="selectHotelUser">
			SELECT 
			        MEM_NO
			      , MEM_ID
			      , MEM_PWD
			      , MEM_NAME
			      , MEM_PHONE
			      , MEM_EMAIL
			      , HOTEL_NAME
			  FROM TB_MEM
 			 WHERE MEM_ID = ?
 			   AND STATUS = 'Y'
		</entry>
		
		<entry key="updatePersonalInfo">
		UPDATE
				TB_MEM
		   SET  
		   		MEM_NAME = ?
		      , MEM_PWD = ?
		      , MEM_PHONE = ?
		      , MEM_EMAIL = ?
		  WHERE MEM_ID = ?

		</entry>
		
		
		<entry key="reportUser">
		INSERT
				INTO TB_REPORT
				VALUES
				(
					SEQ_REPNO.NEXTVAL
				  , ?
				  , ?
				  , ?
				  , SYSDATE
				  , DEFAULT
				  , DEFAULT
				  , 'U'
				  , ?
				  
				)
		
		</entry>
		
		
		<entry key="confirmReservation">
		UPDATE TB_RES_INFO
		  SET  RES_STATUS = '예약확정'
		 WHERE  RES_NO = ?
		
		</entry>
		
		
		
		<entry key="cancelReservation">
		UPDATE TB_RES_INFO
		  SET  RES_STATUS = '예약취소'
		 WHERE  RES_NO = ?
		
		</entry>
		
		<entry key="selectHotelForm">
			SELECT 
					HOTEL_NO
				  , HOTEL_NAME
				  , HOTEL_ADDRESS
				  , HOTEL_DETAILADD
				  , HOTEL_TEL
				  , HOTEL_SITE
				  , HOTEL_CHECKIN
				  , HOTEL_CHECKOUT
				  , HOTEL_DETAIL
				  , NVL(HOTEL_INTRO,'없음') HOTEL_INTRO
				  , REFUNDPOLICY
				  , TAG_NO
				  , IMG_PATH
			 FROM TB_HOTEL
			WHERE MEM_NO =  ?
		</entry>
		
		<entry key="selectRoomList">
			SELECT
					RO_NO
				  , HOTEL_NO
				  , RO_NAME
				  , RO_SIZE
				  , RO_PEOPLE
				  , RO_BATHROOM
				  , RO_PRICE
				  , RO_COUNT
				  , OP_NO
				  , IMG_PATH
		 	  FROM TB_ROOM
		 	 WHERE HOTEL_NO = (
		 						SELECT HOTEL_NO
		 						  FROM TB_HOTEL
		 						 WHERE HOTEL_NAME = ?
		 						) 
		 	   AND STATUS = 'Y'
		</entry>
		
		
		
		<entry key="deleteHotelUser">
			UPDATE
					TB_MEM
			   SET  STATUS = 'N'
			  	  , MODIFY_DATE = SYSDATE
			 WHERE  MEM_ID = ?
		</entry>
		
		
		<entry key="updateHotel">
		UPDATE TB_HOTEL
		  SET  HOTEL_ADDRESS = ?
		  	 , HOTEL_DETAILADD = ?
		  	 , HOTEL_TEL = ?
		  	 , HOTEL_SITE = ?
		  	 , HOTEL_CHECKIN = ?
		  	 , HOTEL_CHECKOUT = ?
		  	 , HOTEL_DETAIL = ?
		  	 , HOTEL_INTRO = ?
		  	 , REFUNDPOLICY = ?
		  	 , TAG_NO = ?
		  	 , IMG_PATH = ?
		 WHERE HOTEL_NAME = ?
		</entry>
		
		<entry key="updateHotelNoFile">
			UPDATE TB_HOTEL
			   SET HOTEL_ADDRESS = ?
		  	     , HOTEL_DETAILADD = ?
			  	 , HOTEL_TEL = ?
			  	 , HOTEL_SITE = ?
			     , HOTEL_CHECKIN = ?
		 	     , HOTEL_CHECKOUT = ?
			 	 , HOTEL_DETAIL = ?
		  	     , HOTEL_INTRO = ?
		  	     , REFUNDPOLICY = ?
			  	 , TAG_NO = ?
		     WHERE HOTEL_NAME = ? 
		</entry>
		
		<entry key="ReupdateHoAttachment">
			UPDATE TB_FILE
			   SET FILE_PATH = ?
			     , FILE_NAME = ?
			     , FILE_ORIGIN_NAME = ?
			 WHERE FILE_NO = ?
		</entry>
		
		<entry key="updateHoAttachment">
			INSERT
			  INTO TB_FILE VALUES
			  (
			  	SEQ_FILENO.NEXTVAL
			  , ?
			  , 'Y'
			  , ?
			  , 'H'
			  , ?
			  , ?
			  )
			  
			  
		</entry>
		
		<entry key="selectAttachment">
		SELECT 
				FILE_NO
			  , FILE_PATH
			  , FILE_NAME
			  , FILE_ORIGIN_NAME
		   FROM TB_FILE
		  WHERE REF_NO = ? 
		    AND REF_TYPE = ?
			AND STATUS = 'Y'
		</entry>
		
		<entry key="selectNewAttachment">
			SELECT
			       FILE_NO
			     , FILE_PATH
			     , FILE_NAME
			     , FILE_ORIGIN_NAME
			  FROM TB_FILE
			 WHERE REF_NO = ?
			   AND REF_TYPE = ?
			   AND STATUS = 'Y'
			 ORDER
			    BY FILE_NO DESC
		</entry>
		
		<entry key="reportReview">
		INSERT
				INTO TB_REPORT
				VALUES
				(
					SEQ_REPNO.NEXTVAL
				  , ?
				  , NULL
				  , NULL
				  , SYSDATE
				  , DEFAULT
				  , ?
				  , 'R'
				  , ?
				  
				)
		
		</entry>
		
		<entry key="deleteRoom">
		UPDATE TB_ROOM
		  SET  STATUS = 'N'
		 WHERE RO_NO = ?
		
		</entry>
		
		<entry key="deleteAttachment">
		UPDATE TB_FILE
		   SET STATUS = 'N'
		 WHERE REF_NO = ?
		  AND  REF_TYPE = ?
		
		</entry>
		
		<entry key="countRoom">
			SELECT
			        SUM(RO_COUNT)
			  FROM  TB_ROOM
			 WHERE  HOTEL_NO = ?
		
		</entry>
		
		<entry key="countRes">
			SELECT 
			        COUNT(*)
			  FROM  TB_RES_INFO
			 WHERE  HOTEL_NO = ?
		
		</entry>
		
		<entry key="countReview">
			SELECT 
			        COUNT(*)
			  FROM  TB_REVIEW
			 WHERE  HOTEL_NO = ?
		
		</entry>
		
		<entry key="selectFileNoList">
			SELECT
			       FILE_NO
			  FROM TB_FILE
			 WHERE REF_TYPE = 'H'
			   AND REF_NO = (
			                 SELECT HOTEL_NO
			                   FROM TB_HOTEL
			                  WHERE HOTEL_NAME = ?
			                )
		</entry>

		<entry key="updateRoom">
			UPDATE TB_ROOM
			   SET RO_NAME = ?
			     , RO_SIZE = ?
			     , RO_PEOPLE = ?
			     , RO_BATHROOM = ?
			     , RO_PRICE = ?
			     , RO_COUNT = ?
			     , OP_NO = ?
			     , IMG_PATH = ?
			 WHERE RO_NO = ?
		</entry>
		
		<entry key="updateRoAttachment">
			INSERT
		      INTO TB_FILE VALUES
				(
					SEQ_FILENO.NEXTVAL
				  , ?
				  , 'Y'
				  , ?
				  , 'R'
				  , ?
				  , ?
				)
		</entry>
		
		<entry key="selectHotelResCount">
			SELECT
			       COUNT(*) COUNT
			  FROM TB_RES_INFO
			 WHERE HOTEL_NO = (
			                    SELECT HOTEL_NO
			                      FROM TB_HOTEL
			                     WHERE HOTEL_NAME = ?
			                  )
		</entry>
		
		<entry key="selectHotelResCategoryCount">
			SELECT
			       COUNT(*) COUNT
			  FROM TB_RES_INFO
			 WHERE HOTEL_NO = (
			                    SELECT HOTEL_NO
			                      FROM TB_HOTEL
			                     WHERE HOTEL_NAME = ?
			                  )
               AND RES_STATUS = ?
		</entry>
		
		<entry key="selectCategoryList">
			SELECT *
				FROM (
		            SELECT ROWNUM RNUM, A.*
		              FROM(
		                        SELECT
		                                RES_NO
		                              , HOTEL_NO 
		                              , USER_NO
		                              , RO_NO 
		                              , DATE_IN
		                              , DATE_OUT
		                              , RES_DATE
		                              , SUBSTR(RES_STATUS,3,2) RES_STATUS
		                              , REQ
		                              , REASON_CANCEL
		                              , PAY_METHOD
		                              , PAY
		                              , PAY_DATE
		                              , RES_PEOPLE
		                              , RES_NAME
		                              , RES_PHONE
		                              , RES_EMAIL
		                          FROM TB_RES_INFO B
		                         WHERE HOTEL_NO = ( SELECT H.HOTEL_NO
                                                    FROM TB_HOTEL H, TB_MEM M
                                                    WHERE H.HOTEL_NAME = M.HOTEL_NAME
                                                    AND H.HOTEL_NAME = ?
                                                        )
                                   AND RES_STATUS = ?
		                         ORDER
		                            BY DATE_IN DESC 
		                ) A
				 )
		 		WHERE RNUM BETWEEN ? AND ?
		</entry>
		
		
		
		<entry key="selectRevSearchList">
				SELECT *
				FROM (
				    SELECT ROWNUM RNUM, A.*
				    FROM(
				        SELECT
				            REV_NO,
				            USER_ID,
				            RES_NO,
				            R.REGIST_DATE REGIST_DATE,
				            REV_RATING,
				            REV_TITLE
				        FROM TB_REVIEW R
				        JOIN TB_USER U ON R.USER_NO = U.USER_NO
				        WHERE HOTEL_NO = (SELECT H.HOTEL_NO
				                          FROM TB_HOTEL H, TB_MEM M
				                          WHERE H.HOTEL_NAME = M.HOTEL_NAME
				                          AND H.HOTEL_NAME = ?)
				            AND R.STATUS = 'Y'
				            AND EXISTS (SELECT 1
				                        FROM TB_USER
				                        WHERE USER_ID LIKE ?
				                        AND R.USER_NO = TB_USER.USER_NO)
				        ORDER BY REV_NO DESC
				    ) A
				)
				WHERE RNUM BETWEEN ? AND ?
		</entry>
		
		<entry key="selectRevSearchListCount">
		   SELECT
			    (
			        SELECT COUNT(*)
			        FROM TB_REVIEW
			        WHERE HOTEL_NO = (
			            SELECT HOTEL_NO
			            FROM TB_HOTEL
			            WHERE HOTEL_NAME = ?
			        )
			        AND USER_NO IN (
			            SELECT USER_NO
			            FROM TB_USER
			            WHERE USER_ID LIKE ?
			        )
			    ) AS COUNT
			FROM DUAL
		</entry>
		
		
		
</properties>