<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

		<entry key="searchHotelName">
		         SELECT 
					    h.HOTEL_NO HOTEL_NO,
					    h.HOTEL_NAME HOTEL_NAME,
					    h.TAG_NO TAG_NO,
					    h.IMG_PATH IMG_PATH,
					    NVL(r.REVIEW_COUNT, 0) AS REVIEW_COUNT,
					    MIN_PRICE,
					    REV_RATING
					FROM 
					    TB_HOTEL h
					LEFT JOIN 
					    (SELECT HOTEL_NO, COUNT(*) AS REVIEW_COUNT, AVG(REV_RATING) REV_RATING
					     FROM TB_REVIEW
					     WHERE STATUS = 'Y'
					     GROUP BY HOTEL_NO) r
					ON 
					    h.HOTEL_NO = r.HOTEL_NO
					    
					LEFT JOIN
						(SELECT HOTEL_NO, MIN(RO_PRICE) MIN_PRICE
					     FROM TB_ROOM
					     WHERE STATUS = 'Y'
					     GROUP BY HOTEL_NO) O
					ON 
					    h.HOTEL_NO = O.HOTEL_NO
					WHERE 
					    h.STATUS = 'Y'
					    AND h.HOTEL_NAME LIKE ?
					    AND O.MIN_PRICE IS NOT NULL
					    ORDER BY MIN_PRICE
		
		</entry>
		
		
		<entry key="searchTagName">
		    SELECT 
			    h.HOTEL_NO AS HOTEL_NO,
			    h.HOTEL_NAME AS HOTEL_NAME,
			    h.TAG_NO AS TAG_NO,
			    h.IMG_PATH AS IMG_PATH,
			    NVL(r.REVIEW_COUNT, 0) AS REVIEW_COUNT, 
			    O.MIN_PRICE AS MIN_PRICE,
			    REV_RATING
			FROM 
			    TB_HOTEL h
			LEFT JOIN 
			    (SELECT HOTEL_NO, COUNT(*) AS REVIEW_COUNT, AVG(REV_RATING) REV_RATING
			     FROM TB_REVIEW
			     WHERE STATUS = 'Y'
			     GROUP BY HOTEL_NO) r
			ON 
			    h.HOTEL_NO = r.HOTEL_NO
			LEFT JOIN
			    (SELECT HOTEL_NO, MIN(RO_PRICE) AS MIN_PRICE
			     FROM TB_ROOM
			     WHERE STATUS = 'Y'
			     GROUP BY HOTEL_NO) O
			ON 
			    h.HOTEL_NO = O.HOTEL_NO
			WHERE 
			    h.STATUS = 'Y'
			  AND O.MIN_PRICE IS NOT NULL
		</entry>


		<entry key="addwishList">
			INSERT
				INTO TB_WISH
				VALUES
				(
					SEQ_WISHNO.NEXTVAL
				  , ?
				  , ?
				  , SYSDATE
				)
		
		</entry>
		
		<entry key="selectReviewList">
			SELECT  
			        REV_NO
			      , RES_NO
			      , HOTEL_NO
			      , USER_ID
			      , REV_TITLE
			      , REV_CONTENT
			      , REV_RATING
			      , TR.REGIST_DATE
			      , TR.MODIFY_DATE
			      , FILE_NO
			  FROM  TB_REVIEW TR
			  JOIN  TB_USER USING (USER_NO)
			 WHERE  HOTEL_NO = ?
			   AND  TR.STATUS = 'Y'
			 ORDER
			    BY  RES_NO DESC
		
		</entry>
		
		<entry key="findRoomName">
			SELECT 
			        RO_NAME
			  FROM  TB_ROOM
			 WHERE  RO_NO = ?		
		</entry>
		
		<entry key="findRoomPrice">
			SELECT 
			        RO_PRICE
			  FROM  TB_ROOM
			 WHERE  RO_NO = ?		
		</entry>
		
		<entry key="findHotelName">
			SELECT 
			        HOTEL_NAME
			  FROM  TB_HOTEL
			 WHERE  HOTEL_NO = ?		
		</entry>

		<entry key="insertNewReservation">
			INSERT INTO 
		            TB_RES_INFO 
		                    (RES_NO
		                   , HOTEL_NO
		                   , USER_NO
		                   , RO_NO
		                   , DATE_IN
		                   , DATE_OUT
		                   , RES_DATE
		                   , RES_STATUS
		                   , PAY_METHOD
		                   , PAY
		                   , PAY_DATE
		                   , RES_PEOPLE
		                   , RES_ROOM_COUNT
		                   , RES_NAME
		                   , RES_PHONE
		                   , RES_EMAIL
		                   , OP_NAME)
		            VALUES (SEQ_RESNO.NEXTVAL
		                   ,(SELECT HOTEL_NO FROM TB_HOTEL WHERE HOTEL_NAME = ?)
		                   ,(SELECT USER_NO FROM TB_USER WHERE USER_ID = ?)
		                   ,(SELECT RO_NO FROM TB_ROOM WHERE RO_NAME = ? AND HOTEL_NO = ?)
		                   ,?
		                   ,?
		                   ,SYSDATE
		                   ,'예약대기'
		                   ,?
		                   ,?
		                   ,SYSDATE
		                   ,?
		                   ,?
		                   ,?
		                   ,?
		                   ,?
		                   ,?
		                   )
		</entry>
		
		<entry key="reduceRoomCount">
		UPDATE
		        TB_ROOM
		   SET  RO_COUNT = RO_COUNT - ?
		 WHERE  HOTEL_NO = ?
		</entry>
		
		
		<entry key="selectRoomFileList">
		SELECT  FILE_NO
			  , FILE_PATH
			  , FILE_NAME
			  , FILE_ORIGIN_NAME
			  , REF_NO
		  FROM  TB_FILE
		 WHERE  REF_NO = ?
		   AND	REF_TYPE = 'R'
		   AND  STATUS = 'Y'
		
		
		</entry>
		
		
		<entry key="selectHotelFileList">
		SELECT  FILE_NO
			  , FILE_PATH
			  , FILE_NAME
			  , FILE_ORIGIN_NAME
		  FROM  TB_FILE
		 WHERE  REF_NO = ?
		   AND	REF_TYPE = 'H'
		   AND  STATUS = 'Y'
		
		</entry>
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		<entry key="selectwishList">
			SELECT HOTEL_NO
			  FROM TB_WISH
			 WHERE USER_NO = ?
		
		</entry>

</properties>