<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

		<entry key="searchHotelName">
		         SELECT 
					    h.HOTEL_NO HOTEL_NO,
					    h.HOTEL_NAME HOTEL_NAME,
					    h.TAG_NO TAG_NO,
					    h.IMG_PATH IMG_PATH,
					    NVL(r.REVIEW_COUNT, 0) AS REVIEW_COUNT,
					    MIN_PRICE
					FROM 
					    TB_HOTEL h
					LEFT JOIN 
					    (SELECT HOTEL_NO, COUNT(*) AS REVIEW_COUNT
					     FROM TB_REVIEW
					     WHERE STATUS = 'Y'
					     GROUP BY HOTEL_NO) r
					ON 
					    h.HOTEL_NO = r.HOTEL_NO
					    
					LEFT JOIN
						(SELECT HOTEL_NO, MIN(RO_PRICE) MIN_PRICE
					     FROM TB_ROOM
					     WHERE STATUS = 'Y'
					     GROUP BY HOTEL_NO) O
					ON 
					    h.HOTEL_NO = O.HOTEL_NO
					WHERE 
					    h.STATUS = 'Y'
					    AND h.HOTEL_NAME LIKE ?
					    AND O.MIN_PRICE IS NOT NULL
		
		</entry>
		
		
		<entry key="searchTagName">
		    SELECT 
			    h.HOTEL_NO AS HOTEL_NO,
			    h.HOTEL_NAME AS HOTEL_NAME,
			    h.TAG_NO AS TAG_NO,
			    h.IMG_PATH AS IMG_PATH,
			    NVL(r.REVIEW_COUNT, 0) AS REVIEW_COUNT,
			    O.MIN_PRICE AS MIN_PRICE
			FROM 
			    TB_HOTEL h
			LEFT JOIN 
			    (SELECT HOTEL_NO, COUNT(*) AS REVIEW_COUNT
			     FROM TB_REVIEW
			     WHERE STATUS = 'Y'
			     GROUP BY HOTEL_NO) r
			ON 
			    h.HOTEL_NO = r.HOTEL_NO
			LEFT JOIN
			    (SELECT HOTEL_NO, MIN(RO_PRICE) AS MIN_PRICE
			     FROM TB_ROOM
			     WHERE STATUS = 'Y'
			     GROUP BY HOTEL_NO) O
			ON 
			    h.HOTEL_NO = O.HOTEL_NO
			WHERE 
			    h.STATUS = 'Y'
			      AND INSTR(',' || '?' || ',', ',' || h.TAG_NO || ',') > 0
			      AND O.MIN_PRICE IS NOT NULL;
		</entry>


		<entry key="addwishList">
			INSERT
				INTO TB_WISH
				VALUES
				(
					SEQ_WISHNO.NEXTVAL
				  , ?
				  , ?
				  , SYSDATE
				)
		
		</entry>
		
		<entry key="selectReviewList">
			SELECT  
			        REV_NO
			      , RES_NO
			      , HOTEL_NO
			      , USER_ID
			      , REV_TITLE
			      , REV_CONTENT
			      , REV_RATING
			      , TR.REGIST_DATE
			      , TR.MODIFY_DATE
			      , FILE_NO
			  FROM  TB_REVIEW TR
			  JOIN  TB_USER USING (USER_NO)
			 WHERE  HOTEL_NO = ?
			   AND  TR.STATUS = 'Y'
			 ORDER
			    BY  RES_NO DESC
		
		</entry>


</properties>