<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="selectUserList">
		SELECT
				USER_NO
			  ,	USER_ID
			  ,	USER_NAME
			  ,	USER_ENG_NAME
			  ,	USER_PWD
			  ,	BIRTH_DATE
			  ,	NVL(EMAIL,'미입력') EMAIL
			  ,	PHONE
			  , ZIPCODE
			  ,	NVL(ADDRESS,'미입력') ADDRESS
			  ,	NVL(ADDRESS_DETAIL,' ') ADDRESS_DETAIL
			  , ETC
			  ,	REGIST_DATE
			  ,	MODIFY_DATE
			  ,	STATUS
		   FROM TB_USER
		  ORDER
		  	 BY USER_NO DESC
		 
	</entry>
	
	<!-- 유저한명 조회 -->
	<entry key="selectUser">
		SELECT
				USER_NO
			  ,	USER_ID
			  ,	USER_NAME
			  ,	USER_ENG_NAME
			  ,	USER_PWD
			  ,	BIRTH_DATE
			  ,	NVL(EMAIL,'미입력') EMAIL
			  ,	PHONE
			  , ZIPCODE
			  ,	NVL(ADDRESS,'미입력') ADDRESS
			  ,	NVL(ADDRESS_DETAIL,' ') ADDRESS_DETAIL
			  , ETC
			  ,	REGIST_DATE
			  ,	MODIFY_DATE
			  ,	STATUS
		   FROM TB_USER
		  WHERE USER_NO = ?
	</entry>
	
	<entry key ="updateUser">
		UPDATE 
		  		TB_USER
		   SET	USER_NAME = ?
		   	 ,	PHONE = ?
		   	 ,	EMAIL = ? 
		   	 , 	ADDRESS	= ?
		   	 ,	ADDRESS_DETAIL= ?
		 WHERE	USER_ID = ?
		   
	</entry>
	
	<entry key="selectTermsList">
		SELECT 
				TERMS_NO
			  ,	TERMS_TITLE
			  ,	TERMS_CONTENT
			  ,	ADMIN_ID
			  , NVL(NOTES,' ') NOTES
			  ,	REGIST_DATE
			  ,	MODIFY_DATE
			  ,	T.STATUS STATUS
		  FROM 	TB_TERMS T
		  JOIN  TB_ADMIN USING(ADMIN_NO)
		 ORDER
		 	BY	TERMS_NO DESC
	
	</entry>
	
	<entry key="selectHotelList">
		SELECT *
		  FROM (
				SELECT ROWNUM RNUM, A.*
        		  FROM (
		                SELECT TM.MEM_NO
		                     , MEM_NAME
		                     , MEM_ID
		                     , HOTEL_NAME
		                     , MEM_EMAIL
		                     , MEM_PHONE
		                     , HOTEL_NO
		                     , HOTEL_ADDRESS
		                  FROM TB_MEM TM
		                  JOIN TB_HOTEL USING(HOTEL_NAME)
		                 WHERE TM.STATUS = 'Y'
		   				   AND HOTEL_NAME IS NOT NULL
		                 order 
		                    by TM.MEM_NO DESC
             			) A
             	)
    	WHERE   RNUM BETWEEN ? AND ?
		
	
	</entry>
	
	<entry key="selectHotelListCount">
		SELECT COUNT(*) COUNT
		  FROM TB_MEM
		 WHERE STATUS = 'Y'
		   AND HOTEL_NAME IS NOT NULL
	</entry>
</properties>